# Shifting through directors and Writers on the IMDB DB

In [48]:
### Import the nessesary libraries
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import scipy.stats as stats
import seaborn as sns

In [49]:
conn = sqlite3.connect('data/sqldata/im.db')

In [50]:
#Average movie ratings
q = """
SELECT AVG(averagerating)
FROM movie_ratings
;
"""
pd.read_sql(q, conn)

   AVG(averagerating)
0            6.332729

In [51]:
#Select all writers, directors, and actors who were in movies with ratings above the average
q = """
SELECT
    primary_name AS name,
    primary_title AS p_title,
    original_title AS o_title,
    genres,
    job,
    averagerating AS rating
FROM persons
JOIN principals
    USING(person_id)
JOIN movie_basics
    USING(movie_id)  
JOIN movie_ratings
    USING(movie_id)
WHERE
    averagerating > 6.3
    AND
    job != 'None'
ORDER BY
    rating DESC
;
"""
df = pd.read_sql(q, conn)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62610 entries, 0 to 62609
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     62610 non-null  object
 1   p_title  62610 non-null  object
 2   o_title  62610 non-null  object
 3   genres   62221 non-null  object
 4   job      62610 non-null  object
 5   rating   62610 non-null  float64
dtypes: float64(1), object(5)
memory usage: 2.9+ MB

In [53]:
x=df.job.value_counts()
x.head(15)

producer                   38721
screenplay                  2815
director of photography     2340
writer                      1983
executive producer          1727
written by                  1641
co-director                 1618
story                       1217
co-writer                   1035
dialogue                     463
novel                        448
screenplay by                431
composer                     372
based on the novel by        248
manga                        233
Name: job, dtype: int64

In [54]:
df.head(15)

,name,p_title,o_title,genres,job,rating
0,Daniel Alexander,Freeing Bernie Baran,Freeing Bernie Baran,"Crime,Documentary",written by,10.0
1,Tom Opferman,Freeing Bernie Baran,Freeing Bernie Baran,"Crime,Documentary",producer,10.0
2,Xavier Liberman,Hercule contre Hermès,Hercule contre Hermès,Documentary,co-cinematographer,10.0
3,David Quesemand,Hercule contre Hermès,Hercule contre Hermès,Documentary,co-cinematographer,10.0
4,Saskia Berthod,Hercule contre Hermès,Hercule contre Hermès,Documentary,film editor,10.0
5,Tim David Russell,A Dedicated Life: Phoebe Brand Beyond the Group,A Dedicated Life: Phoebe Brand Beyond the Group,Documentary,producer,10.0
6,Jan De Ruiter,Requiem voor een Boom,Requiem voor een Boom,Documentary,producer,10.0
7,Niek Koppen,Requiem voor een Boom,Requiem voor een Boom,Documentary,producer,10.0
8,Maria Demeshkina Peek,Renegade,Renegade,Documentary,producer,10.0
9,Heather Augustyn,Pick It Up! - Ska in the '90s,Pick It Up! - Ska in the '90s,Documentary,writer,10.0
10,Vijay Mohan Raj,Wild Karnataka,Wild Karnataka,Documentary,producer,9.9
11,Angela Boisvert,LA Foodways,LA Foodways,Documentary,producer,9.9
12,Thomas Cassetta,LA Foodways,LA Foodways,Documentary,producer,9.9
13,Matthew Crotty,LA Foodways,LA Foodways,Documentary,producer,9.9
14,Rick Pratt,LA Foodways,LA Foodways,Documentary,producer,9.9

In [55]:
# df.to_csv('data/IMDBPersonnel_HighRating.csv')